nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0px 0px 30px gray;
}
p {
    padding:0;
}

main {
    max-width: 840px;
}
aside {
    width: 20rem;
    Margin: 1rem;
    border: 1px solid rgb(1, 26, 255);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 200px;
    height: auto;
    border: 2px solid rgb(0, 102, 255);
    padding: 2px;
    box-shadow: 0px 0px 15px rgb(0, 109, 142);
    border-radius: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* This is a comment */